<p-dialog [(visible)]="visible" [header]="header"  styleClass="md:my-modal-width lg:my-modal-width xl:my-modal-width " (onHide)="onCloseHandle()" [modal]="true" [closable]="true"
          appendTo="body" [draggable]="false">
  <ng-container *ngTemplateOutlet="externalContent"></ng-container>
  <ng-template #externalContent>
    <ng-content></ng-content>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="justify-content-between flex">
      <div>
        <p-button icon="pi pi-times" label="Cancel" iconPos="left" (onClick)="onCloseHandle()"></p-button>
      </div>
      <div>
        <p-button icon="pi pi-save" label="Save" iconPos="left" (onClick)="onSaveClick()"></p-button>
      </div>
    </div>
  </ng-template>
</p-dialog>
