<p-dialog (onHide)="onCloseHandle()" [(visible)]="visible" [closable]="true"
          [draggable]="false" [header]="header" [modal]="true"
          appendTo="body" styleClass="md:my-modal-width lg:my-modal-width xl:my-modal-width ">
  <ng-container *ngTemplateOutlet="externalContent"></ng-container>
  <ng-template #externalContent>
    <ng-content></ng-content>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="justify-content-between flex">
      <div>
        <p-button (onClick)="onCloseHandle()" icon="pi pi-times" iconPos="left" label="Cancel"></p-button>
      </div>
      <div>
        <p-button (onClick)="onSaveClick()" icon="pi pi-save" iconPos="left" label="Save"></p-button>
      </div>
    </div>
  </ng-template>
</p-dialog>
