<p-blockUI [blocked]="isLoadingExpense" [target]="pnl">
  <i class="pi pi-spin pi-spinner" style="font-size: 3rem"></i>
</p-blockUI>
<p-panel #pnl class="invisible-panel">
  <div class="p-card card-expense flex grow {{isNewExpense() ? 'new-expense-div' : 'justify-content-between'}} overflow-hidden ">
    <div *ngIf="!isNewExpense()" class="grid col-12 justify-content-between">
      <div class="col-11" >
        <div *ngIf="!labelVisible()">
          <p>Expense : {{ expense.name }}</p>
          <p>Price : {{ expense.value | currency : currency }}</p>
          <p>Date : {{ expense.date | date : dateFormat }}</p>
        </div>
        <div *ngIf="editing" class="col-12">
            <input class="col-12" placeholder="Expense" [(ngModel)]="expense.name" pInputText>
            <p-inputNumber class="inputnumber-expense" placeholder="Price" [(ngModel)]="expense.value" [currency]="currency"  mode="currency"></p-inputNumber>
            <p-calendar class="expense-calendar" placeholder="Date" [(ngModel)]="expense.date" [dateFormat]="pCalendarDateFormat" [readonlyInput]="true"
                        [touchUI]="true" appendTo="body"></p-calendar>
        </div>
      </div>
      <div class="col-1" *ngIf="!isNewExpense()">
        <p-button (onClick)="deleteExpense()" *ngIf="!isCreatingNewExpense()" icon="pi pi-trash"
                  styleClass="p-button-rounded p-button-text"></p-button>
        <p-button (onClick)="toggleEdit()" *ngIf="!editing" icon="pi pi-pencil"
                  styleClass="p-button-rounded p-button-text"></p-button>
        <p-button (onClick)="save()" *ngIf="editing" icon="pi pi-check"
                  styleClass="p-button-rounded p-button-text"></p-button>
        <p-button (onClick)="cancel()" *ngIf="editing" icon="pi pi-times"
                  styleClass="p-button-rounded p-button-text"></p-button>
      </div>
    </div>
    <p-button (onClick)="createNewExpense()" *ngIf="isNewExpense()" icon="pi pi-plus"
              styleClass="p-button-rounded p-button-text new-expense-button"></p-button>
  </div>
</p-panel>


