<p-blockUI [blocked]="isLoadingExpense" [target]="pnl">
  <i class="pi pi-spin pi-spinner" style="font-size: 3rem"></i>
</p-blockUI>
<blockable-div #pnl >
  <div *ngIf="!isNewExpense()" class="p-card card-expense flex grow justify-content-between overflow-hidden ">
    <div class="grid col-12 justify-content-between">
      <div class="col-11" >
        <div *ngIf="!labelVisible()">
          <p>Expense : {{ expense.name }}</p>
          <p>Price : {{ expense.value | currency : currency }}</p>
          <p>Date : {{ expense.date | date : dateFormat }}</p>
        </div>
        <div *ngIf="editing" class="card-editing">
          <div class="flex justify-content-between">
            <label for="name">Expense : </label>
            <input [(ngModel)]="expense.name" id="name" pInputText>
          </div>
          <div class="flex justify-content-between">
            <label for="value">Price : </label>
            <p-inputNumber [(ngModel)]="expense.value" [currency]="currency" id="value" mode="currency"></p-inputNumber>
          </div>
          <div class="flex justify-content-between">
            <label for="date">Date : </label>
            <p-calendar [(ngModel)]="expense.date" [dateFormat]="pCalendarDateFormat" [readonlyInput]="true"
                        [touchUI]="true" appendTo="body" id="date"></p-calendar>
          </div>
        </div>
      </div>
      <div class="col-1">
        <p-button (onClick)="deleteExpense()" *ngIf="!isCreatingNewExpense()" icon="pi pi-trash"
                  styleClass="p-button-rounded p-button-text"></p-button>
        <p-button (onClick)="toggleEdit()" *ngIf="!editing" icon="pi pi-pencil"
                  styleClass="p-button-rounded p-button-text"></p-button>
        <p-button (onClick)="save()" *ngIf="editing" icon="pi pi-check"
                  styleClass="p-button-rounded p-button-text"></p-button>
        <p-button (onClick)="cancel()" *ngIf="editing" icon="pi pi-times"
                  styleClass="p-button-rounded p-button-text"></p-button>
      </div>
    </div>
  </div>
  <div *ngIf="isNewExpense()" (click)="createNewExpense()" class="p-card card-expense flex grow new-expense-div overflow-hidden " >
    <em  class="pi pi-plus new-expense-button" ></em>
  </div>
</blockable-div>


