<div class="grid p-card header-expense">
  <div class="flex col-12 sm:col-12 md:col-4 lg:col-4 xl:col-4">
    <h3>Expenses from : </h3>
    <div>
      <i *ngIf="!selectedMonthYear" class="pi pi-spin pi-spinner"></i>
    </div>
    <p-dropdown (onChange)="onMonthYearChange($event)" *ngIf="!!selectedMonthYear" [(ngModel)]="selectedMonthYear"
                [options]="monthYears" class="margin-select"></p-dropdown>
  </div>
  <div class="div-data flex col-12 sm:col-12 md:col-4 lg:col-4 xl:col-4">
    <i *ngIf="loadingExpenses" class="pi pi-spin pi-spinner"></i>
    <h3 *ngIf="!loadingExpenses">Total : {{this.data.total | currency: currency }} </h3>
    <h3 *ngIf="!loadingExpenses">Amount : {{this.data.amount}}</h3>
  </div>
  <div
    class="text-base sm:text-base md:text-right lg:text-right xl:text-right col-12 sm:col-12 md:col-4 lg:col-4 xl:col-4">
    <p-button (onClick)="openMonthlyExpense()" class="monthly-expense-button" icon="pi pi-plus"
              label="New monthly expense"></p-button>
    <p-button (onClick)="goToMonthlyExpenseView()" class="monthly-expense-button" icon="pi pi-eye"
              label="See my monthly Expenses"></p-button>
  </div>
</div>

<p-blockUI [blocked]="blockedPanel" [target]="pnl">
  <i class="pi pi-lock" style="font-size: 3rem"></i>
</p-blockUI>
<blockable-div #pnl [style]="'margin: 1vh'" [class]="'p-card'">
  <div class="p-card body-expense">
    <div *ngIf="loadingExpenses" class="col-12 text-center">
      <i class="pi pi-spin pi-spinner"></i>
    </div>
    <expense-list (onDeleteExpense)="removeAndRearrangeExpenses($event)" (onEditExpense)="refreshData()"
                  (onNewExpense)="addAndRearrangeExpenses($event)" [expenses]="expenses"></expense-list>
  </div>
</blockable-div>
<monthly-expense-form [(visible)]="monthlyExpenseVisible"></monthly-expense-form>
