.header-expense {
  padding: 2vh;
  margin-bottom: 1vh;
  place-items: center;
}

.margin-select {
  margin-left: 0.8vh;
  margin-top: 0.8vh;
}

.body-expense {
  padding: 2vh;
}

.div-button p-button {
  margin: 1vh;
}

.div-button {
  text-align: end;
}

.div-data {
  padding-top: 1em;
  h3 {
    padding-left: 1em;
    margin: 0;
  }
}
