<div class="p-card card-expense flex grow {{isNewExpense() ? 'new-expense-div' : 'justify-content-between'}} ">
  <div *ngIf="!labelVisible()">
    <p>Expense : {{ expense.name }}</p>
    <p>Price : {{ expense.value | currency : currency }}</p>
    <p>Date : {{ expense.date | date : dateFormat }}</p>
  </div>
  <div class="card-editing" *ngIf="editing">
    <div class="flex justify-content-between">
      <label for="name">Expense : </label>
      <input [(ngModel)]="expense.name" pInputText id="name">
    </div>
    <div class="flex justify-content-between">
      <label for="value">Price : </label>
      <p-inputNumber mode="currency" [currency]="currency" [(ngModel)]="expense.value" id="value"></p-inputNumber>
    </div>
    <div class="flex justify-content-between">
      <label for="date">Date : </label>
      <p-calendar [(ngModel)]="expense.date" appendTo="body" id="date"></p-calendar>
    </div>
  </div>
  <div *ngIf="!isNewExpense()" >
    <p-button *ngIf="!isCreatingNewExpense()" icon="pi pi-trash" styleClass="p-button-rounded p-button-text"></p-button>
    <p-button *ngIf="!editing" icon="pi pi-pencil" (onClick)="toggleEdit()" styleClass="p-button-rounded p-button-text"></p-button>
    <p-button *ngIf="editing" icon="pi pi-check" (onClick)="toggleEdit()" styleClass="p-button-rounded p-button-text"></p-button>
    <p-button *ngIf="editing" icon="pi pi-times" (onClick)="cancel()" styleClass="p-button-rounded p-button-text"></p-button>
  </div>
  <p-button *ngIf="isNewExpense()" icon="pi pi-plus" (onClick)="createNewExpense()" styleClass="p-button-rounded p-button-text new-expense-button"></p-button>
</div>
