.card-expense{
  cursor: pointer;
  overflow-x: hidden;
  background-image: linear-gradient(90deg, #161D21, #070707) ;
  transition: all .2s ease-in-out;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.05); }
