<p-card [header]="'Login'" class="flex justify-content-center">
  <form [formGroup]="form">
    <div class="div-login">
      <input class="col-12" formControlName="email" pInputText placeholder="email" type="text">
      <input [feedback]="false" class="col-12" formControlName="password" pPassword placeholder="Password"
             type="password">
    </div>
  </form>
  <ng-template pTemplate="footer">
    <div class="justify-content-between flex">
      <div>
        <button (click)="openNewAccountDialog()" label="New user" pButton></button>
      </div>
      <div>
        <button (click)="login()" label="Login" pButton></button>
      </div>
    </div>
  </ng-template>
</p-card>

<user-form [(visible)]="userFormVisible"></user-form>

