<p-card class="flex justify-content-center" [header]="'Login'">
  <form [formGroup]="form">
    <div class="div-login">
      <input class="col-12" formControlName="email" type="text" placeholder="email" pInputText>
      <input pPassword type="password" formControlName="password" class="col-12" placeholder="Password"
             [feedback]="false">
    </div>
  </form>
  <ng-template pTemplate="footer">
    <div class="justify-content-between flex">
      <div>
        <button pButton label="New user" (click)="openNewAccountDialog()"></button>
      </div>
      <div>
        <button pButton (click)="login()" label="Login"></button>
      </div>
    </div>
  </ng-template>
</p-card>

<user-form [(visible)]="userFormVisible"></user-form>

