<div class="p-card flex header-monthly-expense justify-content-between">
  <div class="div-data flex" >
    <div>
      <i *ngIf="loaderData" class="pi pi-spin pi-spinner"></i>
    </div>
    <h3 *ngIf="!loaderData">Monthly total : {{this.data.total | currency: currency }} </h3>
    <h3 *ngIf="!loaderData">Monthly Amount : {{this.data.amount}}</h3>
  </div>
  <div>
    <p-button (onClick)="openMonthlyExpense()" class="monthly-expense-button" icon="pi pi-plus"
              label="New monthly expense"></p-button>
    <p-button (onClick)="goToExpenses()" class="monthly-expense-button" icon="pi pi-arrow-left"
              label="Go back to expenses"></p-button>
  </div>
</div>

<div class="p-card">
  <p-table
    (onLazyLoad)="getMonthlyExpenses($event)"
    [columns]="cols"
    [lazy]="true"
    [paginator]="true"
    [rowsPerPageOptions]="rowsPerPage"
    [rows]="rowsPerPage[0]"
    [showCurrentPageReport]="true"
    [showLoader]="loader"
    [tableStyle]="{ 'min-width': '50rem' }"
    [totalRecords]="totalRecords"
    [value]="monthlyExpenses"
    dataKey="id"
    editMode="row">
    <ng-template let-columns pTemplate="header">
      <tr class="col-12">
        <th *ngFor="let col of columns" class="col-2">
          {{ col.header }}
        </th>
        <th class="col-2 text-center ">
          Actions
        </th>
      </tr>
      <tr class="col-12">
        <th class="col-2">
          <input pInputText [(ngModel)]="filter.name" >
        </th>
        <th class="col-2">
          <input pInputText [(ngModel)]="filter.value" >
        </th>
        <th class="col-2">
          <p-calendar [touchUI]="true" [(ngModel)]="filter.startDate" ></p-calendar>
        </th>
        <th class="col-2">
          <p-calendar [touchUI]="true" [(ngModel)]="filter.endDate" ></p-calendar>
        </th>
        <th class="col-2">
          <p-dropdown [options]="days" [(ngModel)]="filter.day" ></p-dropdown>
        </th>
        <th class="col-2 text-center ">
          <p-button icon="pi pi-search" (onClick)="getMonthlyExpenses()" styleClass="p-button-rounded p-button-text p-button-raised"></p-button>
        </th>
      </tr>
    </ng-template>
    <ng-template let-columns="columns" let-editing="editing" let-ri="rowIndex" let-rowData pTemplate="body">
      <tr [pEditableRow]="rowData" class="col-12">
        <td *ngFor="let col of columns" class="col-2">
          <p-cellEditor *ngIf="col.field === 'name' ">
            <ng-template pTemplate="input">
              <input [(ngModel)]="rowData[col.field]" class="col-12 input-name" pInputText/>
            </ng-template>
            <ng-template pTemplate="output">
              {{rowData[col.field]}}
            </ng-template>
          </p-cellEditor>
          <p-cellEditor *ngIf="col.field === 'value' ">
            <ng-template pTemplate="input">
              <p-inputNumber [(ngModel)]="rowData[col.field]" [currency]="currency" class="monthly-expense-price col-12"
                             id="value" mode="currency"></p-inputNumber>
            </ng-template>
            <ng-template pTemplate="output">
              {{ rowData[col.field] | currency: currency }}
            </ng-template>
          </p-cellEditor>
          <p-cellEditor *ngIf="col.field === 'startDate' ">
            <ng-template pTemplate="input">
              <p-calendar [(ngModel)]="rowData[col.field]" [disabled]="true" [readonlyInput]="true" [showButtonBar]="true"
                          [showIcon]="true" [touchUI]="true" appendTo="body" dateFormat="mm/yy" styleClass="col-12"
                          view="month"/>
            </ng-template>
            <ng-template pTemplate="output">
              {{ rowData[col.field] | date: dateFormat }}
            </ng-template>
          </p-cellEditor>
          <p-cellEditor *ngIf="col.field === 'endDate' ">
            <ng-template pTemplate="input">
              <p-calendar [(ngModel)]="rowData[col.field]" [readonlyInput]="true" [showButtonBar]="true" [showIcon]="true"
                          [touchUI]="true" appendTo="body" dateFormat="mm/yy" styleClass="col-12" view="month"/>
            </ng-template>
            <ng-template pTemplate="output">
              {{ rowData[col.field] | date: dateFormat }}
            </ng-template>
          </p-cellEditor>
          <p-cellEditor *ngIf="col.field === 'day' ">
            <ng-template pTemplate="input">
              <p-dropdown [(ngModel)]="rowData[col.field]" [options]="days" appendTo="body" class="dropdown-day"/>
            </ng-template>
            <ng-template pTemplate="output">
              {{ rowData[col.field] }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td class="col-2">
          <div class="flex align-items-center justify-content-center gap-2">
            <button (click)="onRowEditInit(rowData, ri)" *ngIf="!editing" class="p-button-rounded p-button-text" icon="pi pi-pencil" pButton pInitEditableRow
                    pRipple type="button"></button>
            <button (click)="onRowDelete(rowData, ri)" *ngIf="!editing" class="p-button-rounded p-button-text" icon="pi pi-trash" pButton pRipple
                    type="button"></button>
            <button (click)="onRowEditSave(rowData, ri)" *ngIf="editing" class="p-button-rounded p-button-text mr-2" icon="pi pi-check" pButton pRipple
                    pSaveEditableRow type="button"></button>
            <button (click)="onRowEditCancel(rowData, ri)" *ngIf="editing" class="p-button-rounded p-button-text" icon="pi pi-times" pButton pCancelEditableRow
                    pRipple type="button"></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="cols.length + ACTION_COLUMN_FIX">No data found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<monthly-expense-form (onSave)="pushNewExpense($event)" [(visible)]="monthlyExpenseVisible"></monthly-expense-form>

