<sgf-modal-form (onClose)="onClose()" (onSave)="save()" [(visible)]="visible" header="New user">
  <form [formGroup]="form">
    <div class="col-12 grid">
      <div class="col-12 grid">
        <div class="col-6">
          <label for="name">name</label>
          <input class="col-12" formControlName="name" id="name" pInputText placeholder="name" type="text">
        </div>
        <div class="col-6">
          <label for="surname">surname</label>
          <input class="col-12" formControlName="surname" id="surname" pInputText placeholder="surname"
                 type="text">
        </div>
      </div>
      <div class="col-12 grid">
        <div class="col-6">
          <label for="email">email</label>
          <input class="col-12" formControlName="email" id="email" pInputText placeholder="email" type="text">
        </div>
        <div class="col-6">
          <label for="password">password</label>
          <input [feedback]="false" class="col-12" formControlName="password" id="password" pPassword
                 placeholder="password"
                 type="password">
        </div>
      </div>
    </div>
  </form>

</sgf-modal-form>
