<p-sidebar [modal]="false" [ngClass]="visibleClass ? 'visible-sideBar' : 'hidden-sideBar'"
           [showCloseIcon]="false" [visible]="true">
  <p class="sidebar-header">
    <em (click)="switchVisible()" [ngClass]="visibleClass ? 'pi pi-times' : 'pi pi-bars'"
        class="visible-button"></em>
  </p>

  <ng-template [ngForOf]="menuItens" let-item ngFor>
    <a *ngIf="item.display" class="sideBarMenuItem" pTooltip="{{ visible ? '' : item.text }}"
       routerLink="{{ item.rout }}" tooltipPosition="right">
      <em class="{{ item.icon }}"></em>
      <p *ngIf="visible">{{ item.text }}</p>
    </a>
  </ng-template>
</p-sidebar>
